* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.grid {
    display: grid;
    grid-template-columns:repeat(16, 1fr);
    width: 500px;
    height: 500px;
}

.grid-small {
    display: grid;
    grid-template-columns:repeat(32, 1fr);
    width: 500px;
    height: 500px;
    
}

.grid-medium {
    display: grid;
    grid-template-columns:repeat(48, 1fr);
    width: 500px;
    height: 500px;
}

.grid-large {
    display: grid;
    grid-template-columns:repeat(64, 1fr);
    width: 500px;
    height: 500px;
}

.item {
    border: 1px solid lightslategray;
}

/*styles*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: rgb(225, 250, 248);
}

button {
    width: 80px;
    padding: 6px
}

h1 {
    margin-top: 20px;
    font-size: 48px;
}

.interface {
    display: flex;
    gap: 2em;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1em    ;
}

footer:any-link {
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 20px;
    width: auto;
    height: 15px;
    margin-left: 5px
}

