* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.grid {
    display: grid;
    grid-template-columns:repeat(16, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(164, 162, 162, 0.2), 0 6px 20px 0 rgba(118, 101, 101, 0.19);
}

.grid-small {
    display: grid;
    grid-template-columns:repeat(32, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(164, 162, 162, 0.2), 0 6px 20px 0 rgba(118, 101, 101, 0.19);
}

.grid-medium {
    display: grid;
    grid-template-columns:repeat(48, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(164, 162, 162, 0.2), 0 6px 20px 0 rgba(118, 101, 101, 0.19);
}

.grid-large {
    display: grid;
    grid-template-columns:repeat(64, 1fr);
    width: 500px;
    height: 500px;
        box-shadow: 0 4px 8px 0 rgba(164, 162, 162, 0.2), 0 6px 20px 0 rgba(118, 101, 101, 0.19);
}


/*styles*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #8FDDE7;
}
button {
    background: #B6E5D8;
    width: 80px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

h1 {
    color: rgb(252, 80, 80);
    margin-top: 20px;
    font-size: 48px;
}

.interface {
    display: flex;
    gap: 3em;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

footer:any-link {
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 20px;
    width: auto;
    height: 15px;
    margin-left: 5px
}

.color {
    border: none;
    height: 30px;
    width: 60px;
    padding: none;
}

.clicked {
    filter: brightness(85%);
}

#grid-size {
    width: 60px;

}

.size {
    font-size: 19px;
    font-weight: 700;
    color: rgb(255, 101, 101)
}
 
