.grid {
    display: grid;
    grid-template-columns:repeat(16, 1fr);
    width: 400px;
    height: 400px;
}

.grid-small {
    display: grid;
    grid-template-columns:repeat(32, 1fr);
    width: 400px;
    height: 400px;
}

.grid-medium {
    display: grid;
    grid-template-columns:repeat(48, 1fr);
    width: 400px;
    height: 400px;
}

.grid-large {
    display: grid;
    grid-template-columns:repeat(64, 1fr);
    width: 400px;
    height: 400px;
}

.item {
    border: 1px solid black;
}
